<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tl.blog.mapper.QqUserMapper">

    <resultMap id="qquser" type="QqUser">
        <id property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="qqAvatar" column="qqAvatar"/>
        <result property="openId" column="openId"/>
        <result property="gender" column="gender"/>
        <result property="createTime" column="createTime"/>
    </resultMap>
    <select id="check" resultMap="qquser">
        select * from blog.t_qquser;
    </select>

    <insert id="add" parameterType="QqUser" keyProperty="id">
        insert into blog.t_qquser (nickname, qqAvatar, openId, gender, createTime)
        values (#{nickname}, #{qqAvatar}, #{openId}, #{gender}, #{createTime});
    </insert>

</mapper>