<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--设置移动端预览设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: me(7)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item m-mobile-hide item"><i class="middle home icon"></i>首页</a>
            <a href="#" class="m-item m-mobile-hide item"><i class="middle idea icon"></i>分类</a>
            <a href="#" class="m-item m-mobile-hide item"><i class="middle tags icon"></i>标签</a>
            <a href="#" class="m-item m-mobile-hide item"><i class="middle clone icon"></i>归档</a>
            <a href="#" class="m-item m-mobile-hide item"><i class="middle info icon"></i>关于我</a>
            <div class="m-item m-mobile-hide right item">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--中间部分-->
<div class="m-padded-tb-large  animate__animated animate__tada">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui segment">
                    <img src="../static/images/tl.jpg" th:src="@{/images/tl.jpg}" alt="" class="ui rounded image" width="800" height="450">
                </div>
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <div class="ui attached segment">
                    <p class="">tl，喜欢逻辑</p>
                </div>
                <div class="ui attached segment">
                    <p class="">tl，想玩只狼</p>
                </div>
                <div class="ui attached segment">
                    <p class="">tl，想去大海里游泳</p>
                </div>
                <div class="ui attached segment">
                    <p class="">tl，想练好吉他</p>
                </div>
                <div class="ui attached segment">
                    <div class="ui orange basic left pointing label">编程</div>
                    <div class="ui orange basic left pointing label">写作</div>
                    <div class="ui orange basic left pointing label">音乐</div>
                    <div class="ui orange basic left pointing label">游戏</div>
                </div>

                <div class="ui attached segment ">
                    <div class="ui teal basic left pointing label">java</div>
                    <div class="ui teal basic left pointing label">三维模型</div>
                    <div class="ui teal basic left pointing label">野王</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">会弹天空之城、我心永恒前奏</div>
                </div>
                <div class="ui bottom attached segment">
                    <a href="#" th:href="@{https://github.com/wolf-tl?tab=repositories}" target="_blank" class="ui circular icon button"><i class="github icon"></i></a>
                    <a  class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                    <a  class="ui qq circular icon button"><i class="qq icon"></i></a>
                    <a href="#" th:href="@{https://blog.csdn.net/weixin_43716907}" target="_blank" class="ui circular icon button">CSDN</a>
                </div>
                <div class="ui wechat-pr flowing popup transition hidden">
                    <img src="../static/images/微信.jpg" th:src="@{/images/微信.jpg}" alt="" class="ui rounded image" style="width: 100px">
                </div>
                <div class="ui qq-pr flowing popup transition hidden">
                    <img src="../static/images/qq.jpg" th:src="@{/images/qq.jpg}" alt="" class="ui rounded image" style="width: 100px">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive ">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/微信.jpg" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-opacity-mini">Blog</h4>
                <div class="ui inverted link list m-text-thin m-text-spaced m-opacity-mini">
                    <a href="#" class="item">java从入门到放弃</a>
                    <a href="#" class="item">javaweb从入门到入土</a>
                    <a href="#" class="item">springboot从入门到入狱</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-opacity-mini">touch me</h4>
                <div class="ui inverted link list m-text-thin m-text-spaced m-opacity-mini">
                    <a href="#" class="item ">Email: 3136695130@qq.com</a>
                    <a href="#" class="item ">QQ: 3136695130</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-opacity-mini">wolf-tl</h4>
                <br>
                <p class="m-text-thin m-text-spaced m-opacity-tiny">
                    我会把生活的所思所想以及学习的点点滴滴记录在此。
                </p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright c 2022 - 2023 wolf-tl Designed by wolf-tl</p>
    </div>
</footer>
<div th:replace="_fragments :: script"></div>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    });

    $('.qq').popup({
        popup: $('.qq-pr'),
        on : 'click',
        position: 'bottom center'
    });

    $('.wechat').popup({
        popup: $('.wechat-pr'),
        on : 'click',
        position: 'bottom center'
    });

    // 运行时间统计
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }
    function setTime() {
        /*此处为网站的创建时间*/
        var create_time = Math.round(new Date(Date.UTC(2022, 2, 15, 11, 11, 11)).getTime() / 1000);
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }
    setInterval(setTime, 1000);
</script>

</body>
</html>