<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
<!--设置移动端预览设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜索结果</title>
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">-->
<!--    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">-->
</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: me(1)" >
</nav>
<!--中间部分-->
<div class="m-padded-tb-large animate__animated animate__zoomInDown">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左边博客列表-->
            <div class="sixteen wide column">
                <!--header-->
                <div class="ui top attached m-bg segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <div class="ui teal header">博客</div>
                        </div>
                        <div class="right aligned column">
                            共 <h2 class="ui orange header m-inline-block" th:text="${pageInfo.total}"> 14 </h2> 篇
                        </div>
                    </div>
                </div>
                <!--content-->
                <div class="ui attached m-bg segment">
                    <div class="ui m-padded-lr-tiny vertical m-bg segment" th:each="blog : ${pageInfo.list}">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column ">
                                <h3  class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">弱肉强食和天空一样古老又真实</a></h3>
                                <p class="m-text m-padded-tb-small" th:text="|${blog.description}|">付出不亚于任何人的努力，副标题是“一步一步、扎扎实实、坚持不懈的做好具体工作。”另外还有一点很重要，
                                    不亚于任何人的努力，必须每天不断持续，千万不要忘记任何伟大的事业都是一步一步、踏踏实实努力积累的结果。</p>
                                <div class="ui stackable grid">
                                    <div class="row m-padded-lr-tiny">
                                        <div class="eleven wide colume">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="../static/images/tl.jpg" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image" width="30px" height="30px">
                                                    <div class="content"><a href="#" th:href="@{/about}" target="_blank" class="header" th:text="${blog.user.nickname}">tl</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i><span th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd')}">2022-03-01</span>
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i>  <span th:text="${blog.views}">2022</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--分类-->
                                        <div class="right aligned five wide column">
                                            <a href="#" th:href="@{/types/{id}(id=${blog.type.id})}" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}">提高认知</a>
                                        </div>
                                    </div>
                                    <!--标签-->
                                    <div class="row">
                                        <!--标签-->
                                        <div class="column m-padded-tb" >
                                            <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" th:each="tag : ${blog.tags}" class="ui basic teal left pointing label m-padded-tb-mini m-text-thin" >
                                                <span th:text="${tag.name}">狼道</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                    <img src="../static/images/香克斯.jpg"  th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image" style="width: fit-content">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--footer-->
                <div class="ui bottom attached m-bg segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a class="ui mini teal basic button" th:href="@{/search(query=${query},pagenum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" >上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a class="ui mini teal basic button" th:href="@{/search(query=${query},pagenum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" >下一页</a>
                        </div>
                    </div>
                </div>
                <div class="ui m-bg segment m-inline-block">
                    <p >当前第<span th:text="${pageInfo.pageNum}"></span>页，总<span th:text="${pageInfo.pages}"></span>页，共<span th:text="${pageInfo.total}"></span>条记录</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<!--设置手机模式-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    });
</script>
<!--网站运行时间-->
<script>
    // 运行时间统计
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }
    function setTime() {
        /*此处为网站的创建时间*/
        var create_time = Math.round(new Date(Date.UTC(2022, 2, 15, 11, 11, 11)).getTime() / 1000);
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }
    setInterval(setTime, 1000);
</script>
</body>
</html>