<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="maillogin/_fragments :: head(~{::title})">
    <title>用户登录</title>
</head>
<body>
<div class="m-container-small m-padded-tb-supermassive" style="max-width: 30em !important;">
    <div class="ui container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <div class="content">
                        登录您的账户
                    </div>
                </h2>
                <form class="ui large form" method="post" action="#" th:action="@{/mail/login}">
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="mail" placeholder="用户名（邮箱）">
                            </div>
                        </div>
                        <div class="ui fluid large teal submit button">登    录</div>
                    </div>
                    <div class="ui error message"></div>
                    <div class="ui mini negative message" th:unless="${#strings.isEmpty(msg)}" th:text="${msg}"></div>
                </form>
                <div>
                    <a href="https://www.wolf-tl.top/mail/toRegister" target="_blank" style="width:80px; text-align:center"><i class=" paper plane outline icon"></i><font style="vertical-align: inherit;"><font class="m-pink" style="vertical-align: inherit;">注册</font></font></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="maillogin/_fragments :: script"></div>

<script>
    $('.ui.form').form({
        fields : {
            mail : {
                identifier: 'mail',
                rules: [{
                    type : 'empty',
                    prompt: '请输入用户名'
                }]
            }
        }
    });
</script>
</body>
</html>