<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="maillogin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--设置移动端预览设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<div class="m-container-small m-padded-tb-supermassive" style="max-width: 30em !important;">
    <div class="ui container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <div class="content">
                        注册您的账户
                    </div>
                </h2>

                <form class="ui large form" method="post" action="#" th:action="@{/register}">
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="randomNum" placeholder="验证码:">
                            </div>
                        </div>
                        <div class="ui fluid large teal submit button">注  册</div>
                    </div>
                    <div class="ui error message"></div>
                    <div class="ui mini negative message" th:unless="${#strings.isEmpty(msg)}" th:text="${msg}"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="maillogin/_fragments :: script"></div>
<script>
    $('.ui.form').form({
        fields : {
            randomNum : {
                identifier: 'randomNum',
                rules: [{
                    type : 'empty',
                    prompt: '请输入验证码'
                }]
            }
        }
    });

</script>
</body>
</html>